.row
  .col-md-12
    %h1= @presenter.page_title

    %table.table{id: 'visits'}
      %thead
        %th GUID
        %th URL
        %th Access at
        %th Created at
      - @presenter.visits.each do |visit|
        %tr
          %td= visit.guid
          %td= visit.url
          %td= l(visit.accessed_at, format: :long)
          %td= l(visit.created_at, format: :long)

